@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300);

html {
	height: 100%;
	margin-bottom: 1px;
	overflow-y: scroll;
	overflow-x: hidden;
}
body {
	padding:50px;
	font:14px/1.5 "Merriweather", sans-serif;
	color:#444;
	font-weight:normal;
	counter-reset: h2counter;
	counter-reset: h3counter;
	counter-reset: h4counter;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Josefin Sans", serif;
	color:#222;
	margin:0 0 20px;
}

p, ol, table, pre, dl {
	margin:0 0 20px;
}

h1, h2 {
	line-height:1.1;
}

h1 {
	font-size:34px;
	counter-reset: h2counter;
}

h1 a {
	font-weight: bold;
	font-size:28px;
	color:#222;
}

h3, h4, h5, h6 {
	color:#494949;
}

#main_name {
	margin: 0 0 0 -30px;
	width: 270px;
}

h2 {
	color:#393939;
	font-size:30px;
	counter-reset: h3counter;
}

h3 {
	font-size: 24px;
	counter-reset: h4counter;
}

h4 {
	font-size: 20px;
}

a {
	color: #d45949;
	font-weight:normal;
	text-decoration:none;
}

a small {
	font-size:11px;
	color:#777;
	margin-top:-0.6em;
	display:block;
}

.image{
	width: 90px;
	vertical-align:top;
	transition: width 2s;
	-moz-transition: width 2s; /* Firefox 4 */
	-webkit-transition: width 2s; /* Safari and Chrome */
	-o-transition: width 2s; /* Opera */
}

.image:target{
	width: 400px;
}

.wrapper {
	width:860px;
	margin:0 auto;
}

/*blockquote {
	border-left:1px solid #e5e5e5;
	margin:0;
	padding:0 0 0 20px;
	font-style:italic;
}*/
blockquote {
	border-left:1px solid #e5e5e5;
	margin:1.5em 10px;
	padding:.5em 10px;
	quotes:"\201C""\201D"
}
blockquote:before {
	color:#e5e5e5;
	content:open-quote;
	font-size:4em;
	line-height:.1em;
	margin-right:.25em;
	vertical-align:-.4em;
}
blockquote p {
	display:inline;
}

code, pre {
	font-family:"Courier New", Courier, monospace;
	color:#333;
	font-size:15px;
	color:#307383;
}

pre {
	padding:8px 15px;
	background: #f8f8f8;
	border-radius:5px;
	border:1px solid #e5e5e5;
	overflow-x: auto;
}

table {
	width:100%;
	border-collapse:collapse;
}

th, td {
	border:1px solid #e5e5e5;
	padding:8px 15px;
/*  border-radius:5px;*/
	overflow-x: auto;
	text-align:left;
}

dl {
	padding: 0 0 0 30px;
}

dt {
	color:#444;
	font-weight:bold;
}

div.second_address{
	float: right;
	padding-right: 20%;
}

th {
	background:#f8f8f8;
	border:1px solid #e5e5e5;
	padding:8px 15px;
/*  border-radius:5px;*/
	overflow-x: auto;
	text-align:left;
}

tr:hover{
	background:#eee;
}

td:hover{
	background:#b5e172;
}

table.menu{
	font-size:28px;
	width:auto;
}

table.menu td{
	border: 0px;
	padding: 8px 8px 8px 0px;
}

table.menu td:hover, table.menu tr:hover{
	background-color:transparent;
}

td.table_space{
	width: 50px;
}

td.icon{
	text-align: center;
}

header {
	width:255px;
	float:left;
	position:fixed;
}

strong {
	color:#222;
	font-weight:bold;
}

section {
	width:600px;
	float:right;
	padding-bottom:50px;
}

small {
	font-size:11px;
}

hr {
	border:0;
	background:#e5e5e5;
	height:1px;
	margin:0 0 20px;
}

footer {
	width:270px;
	float:left;
	position:fixed;
	bottom:50px;
}

.clock {
	font-size:30px;
}

.scrollpast:before {
	display:block;
	content:"";
	height:30px;
	margin:-30px 0 0;
}

.heading-not-first{
	margin-top: 2cm;
}

div#overlay {
	z-index:1000;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	background:#000;
	opacity:0.45;
	-moz-opacity:0.45;
	filter:alpha(opacity=45);
	visibility:hidden;
}

div#overlay-pass {
	top: 30%;
	z-index: 1001;
	position: absolute;
	opacity: 1.0;
	background: #fff;
	visibility:hidden;
	padding: 20px;
}

.quote{
	text-align: right;
	margin-top: -20px;
	color:#777;
}

#mouse_over{
	background-color: #880088;
	height: 500px;
	margin: auto;
	margin-top: 2em;
	overflow: hidden;
	position: relative;
	width: 750px;
}

#mouse_over img {
	position: absolute;
	top: 0;
	left: 0;
}

#main_name_print{
	display: none;
}

ul.menu{
	padding:0;
}

ul.menu li{
	padding:0.3em;
	list-style: none;
}

li.menu-current:before {
	content: "\00bb ";
}

.path {
	font-family: "Courier New", Courier, monospace;
	margin-bottom: 10px;
}

p.tinydate {
	font-size: 9px;
	font-family: sans;
}

/*******************
*  Blog Specific  *
*******************/
.blog_titles {
	text-align: center;
}

ul.blog_info{
	padding-left:0px;
	list-style: none;
	width: 17em;
}

ul.blog_info ul{
	padding-left: 20px;
}
img {
	width: 600px;
	height: auto;
	text-align:center;
	margin-left: 0em;
	margin-right: 0em;
}

@media print, screen and (max-width: 960px) {

	div.wrapper {
		width:auto;
		margin:0;
	}

	header, section, footer {
		float:none;
		position:static;
		width:auto;
	}

	header {
		padding-right:320px;
	}

	section {
		/*border:1px solid #e5e5e5;*/
		border-width:1px 0;
		padding:20px 0;
		margin:0 0 20px;
	}

	header a small {
		display:inline;
	}

	heading-not-first{
		margin-top: 0.5cm;
	}

	#main_name {
		margin: 0 0 0 0px;
	}

	#main_name_print{
		display: none;
	}

	.width_control{
		display: none;
	}

	img {
		width: 400px;
		height: auto;
		text-align:center;
		margin-left: 0em;
		margin-right: 0em;
	}
}

@media print, screen and (max-width: 720px) {
	body {
		word-wrap:break-word;
		padding:30px;
	}

	.image:target{
		width: 60%;
	}

	header {
		padding:0;
	}

	pre, code {
		word-wrap:normal;
	}

	#main_name {
		margin: 0 0 0 0px;
	}

	#main_name_print{
		display: none;
	}

	img {
		width: 300px;
		height: auto;
		text-align:center;
		margin-left: 0em;
		margin-right: 0em;
	}

	ul {
		padding-left: 20px;
	}
}

@media screen and (max-width: 480px) {
	body {
		padding:15px;
	}

	.image:target{
		width: 80%;
	}

	dl {
		padding: 0;
	}
	dd{
		/*margin: 10px 0 0 0;*/
		margin: 0;
		padding: 0;
	}
	dd.address-type{
		font-weight: bold;
		font-size: 80%;
		margin: 5px 0 0 5px;
	}
	dt{
		margin-left: -5px;
	}

	#main_name {
		margin: 0 0 0 0px;
	}

	table.menu {
		font-size: 15px;
		width: 100%;
	}
	td.table_space{
		width: 20px;
	}
	div.second_address{
		float: none;
	}

	#main_name_print{
		display: none;
	}

	img {
		width: 200px;
		height: auto;
		text-align:center;
		margin-left: 0em;
		margin-right: 0em;
	}

	ul {
		padding-left: 10px;
	}

}

@media print {
	body {
		padding: 0;
		margin: 0;
		font-size:10px;
		color:#444;
	}

	h2 {
		font-size:25px;
	}

	section{
		padding: 0;
	}

	header{
		display: none;
	}

	.no_print {
		display: none;
	}

	#main_name_print{
		display: inherit;
		text-align:center;
		font-size: 29pt;
		border: none;
	}

	a{
		color: #444;
	}

	div.second_address{
		float: right;
		padding-right: 30%;
	}
}
