<ul class="menu">
	{% for page in site.pages %}
		{% for pc in page.categories %}
			{% if pc == "index" %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% if page.title == "University" %}
					<li>Term 2 CompSci</li>
					<ul>
						<li><a href="#Software_Workshop_2">Software Workshop 2</a></li>
						<li><a href="#Human_Computer_Interaction">Human Computer Interaction</a></li>
						<li><a href="#Data_Structures">Data Structures</a></li>
						<li><a href="#Operating_Systems_and_Networks">Operating Systems and Networks</a></li>
						<li><a href="#Software_Engineering">Software Engineering</a></li>
					</ul>
					<li>Term 1 CompSci</li>
					<ul>
						<li><a href="#Software_Workshop">Software Workshop</a></li>
						<li><a href="#Introduction_to_Computer_Science">Intro to ComSci</a></li>
						<li><a href="#Cryptography">Cryptography</a></li>
						<li><a href="#Evaluation_Methods_and_Statistics">Evaluation Methods and Statistics</a></li>
						<li><a href="#Databases">Databases</a></li>
					</ul>
					<li>Term 1 Physics</li>
					<ul>
						<li><a href="#Computational_Modelling">Computaional Modelling</a></li>
						<li><a href="#Physics_Critique">Physics Critique</a></li>
						<li><a href="#Laboratory_Report">Laboratory Report</a></li>
					</ul>
					<li>Term 2 Physics</li>
					<ul>
						<li><a href="#Image_Processing">Image Processing</a></li>
						<li><a href="#Teaching_in_Schools">Teaching in Schools</a></li>
						<li><a href="#Group_Studies">Group Studies</a></li>
					</ul>
					{% endif %}
			{% endif %}
		{% endfor %}  <!-- page-category -->
	{% endfor %}
</ul>
