{% capture url_parts %} {{ page.url | replace:'/'," " }} {% endcapture %}
{% capture num_parts %} {{ url_parts | number_of_words | minus: 1 }} {% endcapture %}
{% assign previous="" %}
<style>
ol.breadcrumbs{
	list-style-type:none;
	margin:0;
	padding:0;
}
li.breadcrumbs {
	display:inline;
}
</style>
<ol class="breadcrumbs">
	{% if num_parts == "0" or num_parts == "-1" %}
		<li class="breadcrumbs"><a href="/">home</a> &nbsp; </li>
	{% else %}
		<li class="breadcrumbs"><a href="/">home</a> / </li>

		{% for unused in page.content limit:num_parts %}
			{% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
			{% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

			<li class="breadcrumbs"><a href="{{previous}}">{{ first_word }}</a> / {{ page.title | downcase | replace:' ','-' }} </li>

			{% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
		{% endfor %}
	{% endif %}
</ol>
<p></p>
