<ul class="menu">
	<li><a href="/">Home</a></li>
	<li><a href="/unix/">Unix</a></li>
	<ul>
		<li><a href="/unix/scripts/">Scripts</a></li>
			<ul>
			{% for page in site.pages %}
				{% if page.unix == true %}
					{% for pc in page.categories %}
						{% if pc == "scripts" %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endif %}   <!-- cat-match-p -->
					{% endfor %}  <!-- page-category -->
				{% endif %}   <!-- resource-p -->
			{% endfor %} <!-- page -->
			</ul>
	</ul>
</ul>
